.main {
  width: 100%;
  background: #8EACC8;
}

.row {
  width: 783px;
  margin: 0 auto;
  padding: 5px 0 0 0;
  font-size: 17px;
  color: #fff;
  background-color: #456D90;
  font-family: 'Verdana', sans-serif;
}

.row a {
  color: #EFC58A;
}


/*** nav ***/

.navigation {
  list-style-type: none;
  width: 783px;
  margin: 0 auto;
  padding: 0 0 0 0;
  font-size: 0;
}

.navigation li {
  display: inline-block;
  border: 1px #c0c0c0 solid;
  height: 50px;
  width: 259px;
  margin:0;
  padding: 13px 0 0 0;
  text-align: center;
  font-size: 13px;
  background: #54519B;
}

.navigation a {
  color: #fff;
}

/*** End of nav ***/

/*** footer ***/
footer {
  position: relative;
  background: #c6c6c6;
  color: #000000;
  padding: 0 0 0 17px;
  border-top: #eee 2px solid;
}

.footer__links {
  list-style: none;
}

.footer__links li,
.copyright,
.footer__links {
  display: inline-block;
}

.footer__links a {
  color: #54519B;
}

.disignedBy {
  position: absolute;
  right: 19px;
  top: 17px;
}

/*** end of footer ***/

/*** no-script ***/

.noscript-bg {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.noscript-text {
  position: absolute;
  top: 30%;
  height: 300px;
  width: 100%;
  text-align: center;
  color: #fff;

  z-index: 9999999;
}

.noscript-text a {
  color: #EFC58A;
}

/*** End of no-script ***/

