

/*** color scheme

#336699
#FFCC66
#FFFFFF
#003366

/*** styles for sweety ***/

.lt-ie8 .tell-us__one-string__left,
.lt-ie8 .tell-us__more-info__left,
.lt-ie8 .questions__number-of-question {
    width: 30px;
}


/*** end of sweety styles ***/

.quest-wrapper {
  margin: 0;
  padding: 0;
}

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:900);


/*** main style ***/
.main {
  width: 100%;
  background: #f5f5f5;
}

.row {
  width: 782px;
  margin: 0 auto;
  padding: 5px 0 0 0;
  font-size: 17px;
  color: #fff;
  background-color: #456D90;
  font-family: 'Verdana', sans-serif;
}

.row a {
  color: #EFC58A;
}


.tell-us-submit__button,
.tell-us__one-string__textarea,
.tell-us__one-string__right__recommendby__select_wrapper,
.input-wrapper__input,
.input-wrapper__input__textarea,
.recommendby__select__added-field,
.error.validation-error-message
{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;

}


.input-wrapper__input,
.tell-us__one-string__textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-wrapper__input__textarea {
    resize: vertical;
    background-color: #fff;
    color:#666;
    font-size:14px;
    margin:5px 0 3px 0;
    padding:10px;
    height:75px;
    width:402px;
    border:#999 1px solid;
    overflow: auto;
}

.input-wrapper__input__textarea:focus,
.tell-us__one-string__textarea:focus {
    color:#000;
    outline:none;
    box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -webkit-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -moz-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    background-color: #ffd;
}

.tell-us__one-string__textarea {
  border: none;
  width: 300px;
}

.input-wrapper__input {
    margin:5px 0px 10px 0px;
    padding:10px 10px 10px 10px;
    height:10px;
    width:300px;
    border:#999 1px solid;
}

.input-wrapper__input:focus {
    outline:none;
    box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -webkit-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -moz-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    background-color: #ffd;
}


.i-igree {
  width: 590px;
  text-align: justify;
  font-family: "Helvetica";
}

.tell-us__one-string__right.tell-us__i-igree {
  width: 531px;
  font-size: 12px;
}

.theme-of {
  padding: 0 0 0 20px;
}

.tell-us-submit__button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #456D90;
  padding: 10px 24px;
  background: #fff;
  border: 1px solid #fff;
}



/*** End of main style ***/

/*** no-script ***/

.noscript-bg {
  background-color: black;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.noscript-text {
  position: absolute;
  top: 30%;
  height: 300px;
  width: 100%;
  text-align: center;
  color: #fff;

  z-index: 9999999;
}

.noscript-text a {
  color: #EFC58A;
}

/*** End of no-script ***/


/*** Questions common ***/

.questions {
  list-style: none;
  padding: 0 0 10px 0;
}

.questions__one-quest {
  padding: 0 0 20px 0;
}

.questions__number-of-question,
.questions__QandA {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  zoom: 1;
  *display: inline;
}

/*** End of Questions common ***/

.questions__number-of-question {

  width: 157px;
  padding: 17px 0 0 17px;
  text-align: center;

}

.questions__number-of-question span {

  padding: 4px 20px 0 0px;
  vertical-align: baseline;
  font: 119px "Source Code Pro";
  color: #fff;
  font-weight: 900;
  line-height: 134px;
}

.questions__QandA {
 max-width: 424px;
 font-size: 15px;
}

.questions__QandA__text {
  margin: 20px 0 14px 0;
  font-size: 15px;
  text-align: justify;
}

.questions__QandA__text input {
  margin: 0 5px 0 0;
}

.quest__radio__input {
  margin: 0 5px 0 0;
}


/*** tell-us common ***/
.tell-us-moar {
  padding: 0 0 0 17px;
  margin: 50px 0 0 0;
}


.tell-us-moar__questions {
  list-style: none;
  padding: 0;
}

.tell-us__one-string,
.tell-us__more-info
{
  margin: 0 0 10px 0;

}

.tell-us__one-string__left,
.tell-us__one-string__right,
.tell-us__more-info__left,
.tell-us__more-info__right {
  display: inline-block;


}

.tell-us__one-string__left,
.tell-us__more-info__left {
  width: 187px;
  padding: 0 10px 0 0;
  vertical-align: top;
}

/*** End of tell-us common ***/


@media screen and (-webkit-min-device-pixel-ratio:0) {
  .tell-us__one-string__right__recommendby__select {
      padding-right:18px
  }
}

.tell-us__one-string__right {
  width: 300px;
  position: relative;
}

.tell-us__one-string__right__recommendby__select_wrapper {
  width: 240px;
  overflow: hidden;
  width: 198px;
  margin: 16px 0 0 0;

}

.tell-us__one-string__right__recommendby__select {
  width: 120%;
  padding:3px;
  margin: 0;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  background: url('/images/arrow-down-2.png') no-repeat 175px 7px #f8f8f8;

}



.tell-us__one-string__right__recommendby {
  position:relative;
}

.tell-us__one-string__right__recommendby:after {
}
/**
.tell-us__one-string__right__recommendby:before {
    content:'';
    right: 92px;
    top: 21px;
    width: 21px;
    height: 24px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

**/

.tell-us_more__welcome {
  margin-bottom: 50px;
}

.tell-us__one-string__right,
.tell-us__more-info__right{

}

.tell-us__more-info__input {
  resize: vertical;

}

.tell-us__fileresume {
  width: 200px;
}

.tell-us-submit {
  text-align: center;
  margin: 20px 0 0 0;
  background: #C0C0C0;
  padding: 18px 0;
}

.tell-us-submit__button {
  text-align: center;
}

/*** footer ***/

.footer__links {
  list-style: none;
}

.footer__links li,
.copyright,
.footer__links {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/*** end of footer ***/


/*** validation ***/

.error.validation-error-message {
  position: absolute!important;
  color: #f00;
  right: -170px;
  top: 3px;
  width: 145px;
  font-size: 12px;
  background: #fff;
  padding: 5px 0 5px 10px;
}


/*** End of validation ***/

  
  
