@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:900);

/*** main style ***/


.tell-us-submit__button,
.tell-us__one-string__textarea,
.tell-us__one-string__right__recommendby__select_wrapper,
.input-wrapper__input,
.input-wrapper__input__textarea,
.recommendby__other,
.error.validation-error-message,
select {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;

}


.input-wrapper__input,
.tell-us__one-string__textarea {
  width: 100%;
}

.input-wrapper__input__textarea {
    resize: vertical;
    background-color: #fff;
    color:#666;
    font-size:14px;
    margin:5px 0 3px 0;
    padding:10px;
    height:75px;
    width:402px;
    border:#999 1px solid;
    overflow: auto;
}

.input-wrapper__input__textarea:focus,
.tell-us__one-string__textarea:focus {
    color:#000;
    outline:none;
    box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -webkit-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -moz-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    background-color: #ffd;
}

.tell-us__one-string__textarea {
  border: none;
  width: 300px;
}

.input-wrapper__input {
  margin: 5px 0px 10px 0px;
  padding: 0px 10px 3px 10px;
  height: 24px;
  width: 284px;
}

.input-wrapper__input:focus {
    outline:none;
    box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -webkit-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    -moz-box-shadow: 0 0 10px rgba(256, 256, 256, 1);
    background-color: #ffd;
}

.agree {
  width: 590px;
  text-align: justify;
  font-family: "Helvetica";
}

.tell-us__one-string__right.tell-us__agree {
  width: 329px;
  font-size: 12px;
}

.theme-of {
  padding: 0 0 0 20px;
}

.tell-us-submit__button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #456D90;
  padding: 10px 24px;
  background: #fff;
  border: 1px solid #fff;
  margin-left: 8px;
}

/*** End of main style ***/



/*** Questions common ***/

.questions {
  list-style: none;
  padding: 0 0 10px 0;
}

.quest-wrapper {
  margin: 0;
  padding: 0;
}

.questions__one-quest {
  padding: 0 0 20px 0;
}

.questions__number-of-question,
.questions__QandA {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  zoom: 1;
  *display: inline;
}

/*** End of Questions common ***/

.datepick {
  background: url("/images/calendar.png") no-repeat 277px 4px #f8f8f8;
  border: #999 1px solid;
}

.questions__number-of-question {
  width: 157px;
  padding: 17px 0 0 17px;
  text-align: center;
}

.questions__number-of-question span {
  padding: 4px 20px 0 0px;
  vertical-align: baseline;
  font: 119px "Source Code Pro";
  color: #fff;
  font-weight: 900;
  line-height: 134px;
}

.questions__QandA {
 max-width: 424px;
 font-size: 15px;
}

.questions__QandA__text {
  margin: 20px 0 14px 0;
  font-size: 15px;
  text-align: justify;
}

.questions__QandA__text input {
  margin: 0 5px 0 0;
}

.quest__radio__input {
  margin: 0 5px 0 0;
}

/*** tell-us common ***/

.tell-us-moar {
  padding: 0 0 0 17px;
  margin: 50px 0 0 0;
}

.tell-us-moar__questions {
  list-style: none;
  padding: 0;
}

.tell-us__one-string,
.tell-us__more-info{
  margin: 0 0 10px 0;
}

.tell-us__one-string {
  position: relative;
}

.tell-us__one-string__left,
.tell-us__one-string__right,
.tell-us__more-info__left,
.tell-us__more-info__right {
  display: inline-block;
}

.tell-us__one-string__left,
.tell-us__more-info__left {
  width: 212px;
  padding: 0 10px 0 0;
  vertical-align: top;
}

/*** End of tell-us common ***/


.tell-us__one-string__right {
  width: 300px;
}

.tell-us__one-string__right__recommendby__select_wrapper {
  width: 304px;
  overflow: hidden;
  margin: 16px 0 0 0;
}

.tell-us__one-string__right__recommendby__select {
  width: 120%;
  padding:3px;
  margin: 0;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  background: url('/images/arrow-down-2.png') no-repeat 280px 7px #f8f8f8;
}

.recommendby__other {
  display: none;
  margin: 5px 0 0 0;
  padding: 0 0 3px 6px;
  width: 294px;
  height: 24px;
}

.tell-us__one-string__right__recommendby {
  position:relative;
}

.tell-us_more__welcome {
  margin-bottom: 50px;
}

.tell-us__more-info__input {
  resize: vertical;
}

.tell-us__fileresume {
  width: 200px;
}

.tell-us-submit {
  text-align: center;
  margin: 20px 0 0 0;
  background: #C0C0C0;
  padding: 18px 0;
}

.tell-us-submit__button {
  text-align: center;
}

/*** validation ***/


label.valid,
label.error {
  position: absolute;
  top: 0;
  right: 0;
}

label.error {
  color: rgb(248, 99, 99);
  padding: 6px 10px;
  margin-top: 0px;
  font-size: 18px;
  display: inline-block;
  background: #EFD78A;
  color: #000;
  font-size: 12px;
  top: 5px;
  border-radius: 9px 0 0 9px;
  -moz-border-radius: 9px 0 0 9px;
  -webkit-border-radius: 9px 0 0 9px;
}


label.valid {
  width: 24px;
  height: 24px;
  background: url("../images/tick.png") 0px 0px no-repeat;
  display: inline-block;
  text-indent: -9999px;
}

.tell-us__agree .error {
  font-weight: normal;
}
/*** End of validation ***/



